<div class="container">
  <h1>Semih Öztürk Getir Hackathon Task-2</h1>
  <form #form="ngForm" (ngSubmit)="onSubmit()">
    <label for="dateRange">Choose a date range: </label>
    <br>
    <my-date-range-picker
      name="dateRange"
      [options]="datePickerOptions"
      [(ngModel)]="dateRange"
      required>
    </my-date-range-picker>
    <br>
    <label for="minCount">Min Count: </label>
    <input
      type="number"
      name="minCount"
      placeholder="minCount"
      required [(ngModel)]="minCount">
    <br>
    <label for="maxCount">Max Count: </label>
    <input
      type="number"
      name="maxCount"
      placeholder="minCount"
      required [(ngModel)]="maxCount">
    <br>

    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>

  <div class="table-container">
    <mat-table #table [dataSource]="recordsDataSource">

      <!-- _id column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>
          ID
        </mat-header-cell>
        <mat-cell *matCellDef="let record">
          {{record._id._id}}
        </mat-cell>
      </ng-container>

      <!-- key column -->
      <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef>
          Key
        </mat-header-cell>
        <mat-cell *matCellDef="let record">
          {{record._id.key}}
        </mat-cell>
      </ng-container>

      <!-- value column -->
      <ng-container matColumnDef=value>
        <mat-header-cell *matHeaderCellDef>
          Value
        </mat-header-cell>
        <mat-cell *matCellDef="let record">
          {{record._id.value}}
        </mat-cell>
      </ng-container>

      <!-- createdAt column -->
      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef>
          Created At
        </mat-header-cell>
        <mat-cell *matCellDef="let record">
          {{record._id.createdAt}}
        </mat-cell>
      </ng-container>

      <!-- totalCount column -->
      <ng-container matColumnDef="totalCount">
        <mat-header-cell *matHeaderCellDef>
          Total Count
        </mat-header-cell>
        <mat-cell *matCellDef="let record">
          {{record.totalCount}}
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns">
      </mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns">

      </mat-row>
    </mat-table>

    <mat-paginator #paginator
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20]">
    </mat-paginator>

  </div>
</div>
